@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #e3ddac;
  --backgroundalt-color: #faf4c1;
  --text-color: #4c3935;
  --accent-color: #ff6666;
  --accent-dark-color: #ff4d4d;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Ensure images don't exceed their container */
img {
  max-width: 100%;
  height: auto;
}